/node_modules
/public/storage
/public/hot
/public/static/*
/public/*hot-update.js
/public/*hot-update.json
/resources/assets/js/api/apidoc.js
/resources/assets/js/vuex/vuex_tips.js
/resources/assets/js/components/modals/modal_tips.js
/resources/assets/js/router/router_tips.js
/public/dist
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/js
/public/css
/public/fonts
/public/indoors/*
/public/indoors
/public/login/*
/public/login
testing.sqlite
/public/mix-manifest.json
**/dump.rdb
**/.DS_Store
config/ide-helper\.php
npm-debug\.log
_ide_helper*
.phpstorm.meta.php
coverage*

**/*.bak


tests/frontend/coverage/

tests/frontend/tmp/

package-lock.json

dist/
resources/assets/js/api/apidoc\.js
apidoc/

laravel-echo-server.json

resources/assets/js/front_end\.confg\.js

resources/assets/js/front_end\.config\.js
tests/test.db
resources/assets/js/api/\.api_result\.js

frontend/src/api/\.api_result\.js

public/static/img/jsoneditor-icons\.256e3ab\.svg

public/app\.js

frontend/config/front_end\.config\.js
